@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.foto-pengembang-div{
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 100px;
	padding: 0 auto;
}
.foto-pengembang{
	max-width: 150px;
	width: 100%;
	margin: 0 auto;
	vertical-align: top;
}

.screenshot-aplikasi-thumbnails-div, .gambar-aset-thumbnails-div
{
	max-height: 300px;
	overflow: hidden;
}

.screenshot-aplikasi-thumbnails
{
	width: 100%;
	height: 100%;
	transition: box-shadow 0.3s ease-in-out;
	filter: gray; /* IE5+ */
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
	-webkit-transition: all .5s ease-in-out;
}

.screenshot-aplikasi-thumbnails:hover
{
	width: 100%;
	height: 100%;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1.00);
}

.gambar-aset-thumbnails
{
	width: 100%;
	height: 100%;
}

.screenshot-aplikasi-popup
{
	width: 100%;
	height: 100%;
	margin: 0px 15px;
	border: 1px solid #9c27b0;
}

.preview-screenshot
{
	width: 100%;
	height: 400px;
	overflow: hidden;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	text-align: center;
}

.preview-screenshot img
{
	height: 100%;
	position: relative;
	left: -50px;
}

.preview-aset
{
	width: 100%;
	height: 325px;
	border: 1px solid black;
	overflow: hidden;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	text-align: center;
}

.preview-aset img
{
	height: 100%;
	position: relative;
	left: -50px;
}

.card-icon {
	width: 100px;
	height: 100px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

.card-icon-2 {
	width: 75px;
	height: 75px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

.card-icon-3 {
	border-radius: 3px;
	padding: 0px;
	margin-top: -20px;
	margin-right: 15px;
	float: left;
	vertical-align: middle;
	width: 100%;
	height: 350px;
	font-size: 30px;
	text-align: center;
	overflow: hidden;
	padding: 0px;
}

.card-icon-3 img {
	height: 100%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	border: 1px solid gray;
}

.morecontent {
  display: none;
}

.morelink {
	margin-left: 182px;
}

.morehidden {
	display: none;
}

.satuan-perangkat-scrollable {
	padding: 10px;
	height: 300px;
	border: 1px solid #e5e5e5;
	overflow-y: scroll;
}

.satuan-perangkat-scrollable-2 {
	padding: 10px;
	height: 500px;
	border: 1px solid #e5e5e5;
	overflow-y: scroll;
}

.satuan-perangkat-scrollable-3 {
	padding: 10px;
	height: 300px;
	border: 1px solid #e5e5e5;
	overflow-y: scroll;
}


.rincian-stok-scrollable {
	padding: 10px;
	height: 400px;
	border: 1px solid #e5e5e5;
	overflow-y: scroll;
}

.fa-big {
	font-size: 25px;
	vertical-align: middle;

}

.btn-aset{
	border: 1px solid #dedede;
}

.heartbeat {
	animation: heartbeat 1s infinite;
}

.heartbeat:hover {
	animation: none;
}

.div-shadow-hover:hover{
	transition: box-shadow 0.3s ease-in-out;
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.3), 0 4px 25px 0px rgba(0, 0, 0, 0.07), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

.thead-primary {
	background-color: #2349a0;
	color: white;
	border-radius-top-left: 150px;
}

.thead-primary-lighter {
	background-color: #436dcc;
	color: white;
	border-radius-top-left: 150px;
}

.table-condensed {
	padding: 0px;
}

.otto {
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 0px;
}

.smash {  
  color: black;
  background: white;
  opacity: 0.7;
  margin-top: 0px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.notify-badge{
    position: absolute;
    right:20px;
    top:10px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:20px;
}

.select2-results__options{
        font-size:12px !important;
 }